.webixappstart{
    opacity:0;
}
.webixapp{
    transition: opacity 500ms;
    opacity: 1;
}

/*data loading status*/
.status_good, .status_error, .status_saving{
	text-align: center;
	margin-left:-12px;
}
.status_error{
	color:red;
}
.status_good{
	color:green;
}

/*login form*/
.invalid_login .webix_header > div{
    background: #FC3636;
    transition: background 1s;
}
.invalid_login{
    -webkit-animation: formshake .5s linear;
}
@-webkit-keyframes formshake {
    8%, 41% {
        -webkit-transform: translateX(-10px);
    }
    25%, 58% {
        -webkit-transform: translateX(10px);
    }
    75% {
        -webkit-transform: translateX(-5px);
    }
    92% {
        -webkit-transform: translateX(5px);
    }
    0%, 100% {
        -webkit-transform: translateX(0);
    }
}
.app_header.webix_header{
	text-align:center;
}
.app_layout.webix_layout_clean{
	background: #EBEDF0;
}
.app_start .webix_template{
	padding:12px 12px;
}
.app_menu .webix_icon{
	font-size:20px;
	vertical-align:middle;
}

.contacts-list-item .webix_icon {
    font-size: 35px;
}

.contact-list-item-info {
    display: inline-block;
    line-height: 18px;
    font-size: 16px;
    margin-left: 20px;
}

.contact-list-item-info span:nth-last-child(1) {
    font-size: 12px;
}

.webix_view .user-name {
    margin-left: 20px;
    font-size: 26px;
}

.align-center {
    text-align: center;
}

.contact-photo {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}

.contact-info {
    display: flex;
    justify-content: left;
    height: 500px;
    margin: 10px;
}

.info-column {
    margin: 25px 0 0 40px;
    width: 200px;
    font-size: 16px;
}